/* You can add global styles to this file, and also import other style files */
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.brand-wrapper {
  margin-bottom: 19px;

  .logo {
    height: 37px;
  }
}

.btn-default {
  background-color: #00cfa3;
}
